<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/library/bootstrap/dist/css/bootstrap.css' />
    <link href='https://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Jura:400,600,500,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript"  src='/library/jquery/dist/jquery.min.js'></script>
  </head>
  <body>
    <header class="col-xs-12 header">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <div class="beta-panel">
            <span class="beta">beta</span>
            <img class="logo" src="/images/favicon.ico" alt="logo" />
          </div>
          <a class="col-xs-5 navbar-brand" href="#">
            <div class="col-xs-12"><h1 class="app-title">{{title}}<sup>&copy;</sup></h1></div>
          </a>
          {{#if loggedInUser}}
          <div class="col-xs-7 user-detail text-right">
            <h4 class="userId-detail" title={{userName}}({{loggedInUser}})>
              {{userNameShort}} (<span id="loggedIn-user" data-info="{{loggedInUserInfo}}">{{loggedInUserShort}}</span>) !!
              <a href="/logout">logout</a>
            </h4>
            <span id="pending-chat-count" class="notify-chat-pending">0</span>
            <button id="btn-toggle-user-list" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-list">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="file-notification" id="file-received-notification">
              <button type="button" id="close-notification" class="close">&times;</button>
              <span class="span"></span>
            </div>
          </div>
          {{/if}}
        </div>
        <div class="collapse navbar-collapse" id="user-list">
          <div id="scrollbar-panel" class="scrollbar-panel">
            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
            <div class="viewport">
              <div class="overview">
                <ul class="nav navbar-nav" id="nav-user-list"></ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
<script type="text/javascript" src='/library/bootstrap/dist/js/bootstrap.min.js'></script>
<script type="text/javascript" src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
<script type="text/javascript" src="/javascripts/jquery.scrollbar.min.js"></script>
